[flake8]

# keep the default excludes (.git, __pycache__, etc.)
extend_exclude =

	# the virtual env
	./venv,

	# the build dir
	./build

# print the source code generating the error
show_source = True

# print some counts at the end
statistics = True
